<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smartplug</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <div class="container">
      <h1>PLUGS</h1>
      <a href="/reset">Reset Plugs</a>
      <ul>
        <% plugs.forEach(function(plug){ %>
          <li><%= plug.sysInfo.alias %> - <%= plug.sysInfo.model %> <button ip=<%= plug.ip %> class="status <%= plug.state ? 'status--on' : '' %>"></button></li>
        <% }); %>
      </ul>
    </div>
    <script src="/script.js"></script>
    <script src="/sw_register.js"></script>
  </body>
</html>
